<h1>My Channels</h1>

<% @channels.each do |channel| %>
  <div class="col-xs-12 channel-container <%= "inactive" if !channel.active %>">

    <span class="pull-left channel-number"><%= channel.number %></span>
    <div class="channel-info">
      <h4 class="pull-left"><%= channel.name %></h4>

      <div class="pull-right">
        <a href="#" class="btn btn-primary">Add Photo</a>
        <%= link_to "Preview", channel_path(channel), class: "btn btn-primary" %>
        <%= link_to "Edit", edit_channel_path(channel), class: "btn btn-primary" %>
      </div>
    </div>
  
  </div>

<% end %>


<%= form_for @new_channel do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>

<% end %>
