<h1>Channels Listing</h1>

<% @active_channels.each do |channel| %>
  <div class="col-xs-12 channel-container">
    <span class="pull-left channel-number"><%= channel.number %></span>

    <div class="channel-info">
      <h4 class="pull-left"><%= channel.name %></h4>

      <div class="pull-right">
        <a href="#" class="btn btn-primary">Add Photo</a>
        <%= link_to "Preview", channel_path(channel), class: "btn btn-primary" %>
        <%= link_to "Edit", edit_channel_path(channel), class: "btn btn-primary" %>
      </div>
    </div>

  </div>

<% end %>

<% @inactive_channels.each do |channel| %>
<div class="col-xs-12 channel-container">
  <span class="pull-left channel-number"><%= channel.number %></span>

  <div class="channel-info">
    <h4 class="pull-left"><%= channel.name %></h4>

    <div class="pull-right">
      <a href="#" class="btn btn-primary">Add Photo</a>
      <%= link_to "Preview", channel_path(channel), class: "btn btn-primary" %>
      <%= link_to "Edit", edit_channel_path(channel), class: "btn btn-primary" %>
    </div>
  </div>

</div>
<!--
<ul>
  <li><%= channel.number %></li>
  <li><%= channel.name %></li>
  <li><%= channel.active %></li>
  <li><%= link_to "Edit Channel", edit_channel_path(channel) %></li>
  <li><%= link_to "Preview Channel", channel_path(channel) %></li>
</ul> -->
<!-- There could be another link here for change active status so it is obvious to user how to deplay channel (now it is in edit view) -->
<!-- This is a UX issue and should be discussed -->

<% end %>

<%= form_for @new_channel do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>

<% end %>
