<h1>Channels Listing</h1>

<% @active_channels.each do |channel| %>

  <ul>
    <li><%= channel.number %></li>
    <li><%= channel.name %></li>
    <li><%= channel.active %></li>
    <li><%= link_to "Edit Channel", edit_channel_path(channel) %></li>
    <li><%= link_to "Preview Channel", channel_path(channel) %></li>
    <!-- There could be another link here for change active status so it is obvious to user how to deplay channel (now it is in edit view) -->
    <!-- This is a UX issue and should be discussed -->
  </ul>

<% end %>

<% @inactive_channels.each do |channel| %>

<ul>
  <li><%= channel.number %></li>
  <li><%= channel.name %></li>
  <li><%= channel.active %></li>
  <li><%= link_to "Edit Channel", edit_channel_path(channel) %></li>
  <li><%= link_to "Preview Channel", channel_path(channel) %></li>
  <!-- There could be another link here for change active status so it is obvious to user how to deplay channel (now it is in edit view) -->
  <!-- This is a UX issue and should be discussed -->
</ul>

<% end %>

<%= form_for @new_channel do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>

<% end %>
