<div class="channels-top-section">

  <h1 class="channels-header">Channels - <span class="channels-subheading">What's on TV?</span></h1>
  <!-- <h2 class="channels-subheading">What's on TV?</h2> -->

  <a href="#" class="new-channel-button">New Channel</a>

  <%= form_for @new_channel do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit "Create Channel", class: "btn-primary" %>

  <% end %>

</div>


<div class="col-xs-12 channels-container">
  <% @channels.each do |channel| %>
  <div class="channel-tile <%= "inactive" if !channel.active %>">

    <div class="channel-number">
      <span>
        <%= channel.number %>
      </span>
    </div>
    <div class="channel-info">
      <h1><%= channel.name %></h1>
      <div class="photo-reel">
        <% channel.photos.sample(6).each do |photo| %>
          <%= image_tag photo.thumbnail_url %>
        <% end %>
      </div>
      <div class="channel-buttons">
        <ul>
          <li><%= link_to "Add Photo" %></li>
          <li><%= link_to "Preview", channel %></li>
          <li><%= link_to "Edit", edit_channel_path(channel) %></li>
        </ul>
      </div>
    </div>

  </div>

  <% end %>

</div>
